/*--------------------------------------------------------------
# Editor Styles
--------------------------------------------------------------*/

body,
.editor-post-title__block .editor-post-title__input {
	font-family: serif;
}

body {
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

p {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.wp-block:not([data-align="wide"]):not([data-align="full"]) {
	max-width: 610px;
}

.editor-post-title__block,
.block-editor-block-list__block {
	margin-left: 0;
	margin-right: auto;
}

@media screen and (min-width: 600px) {
	.block-editor-writing-flow > .block-editor-block-list__layout {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

.editor-post-title__block .editor-post-title__input {
	margin: 0;
}

.editor-post-title__block .editor-post-title__input,
h1 {
	font-size: 2rem;
}

h1 {
	margin: 0.67rem 0;
}

h2 {
	font-size: 1.5em;
}

code {
	background-color: transparent;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover, a:focus, a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

